a {
  color: #9A0000 !important;
}
a:hover {
  color: #333333 !important;
}

::selection {
  background: #9A0000;
  color: #ffffff;
}

.title{
  background: #9A0000 !important;
  color: white !important;
}